@import 'minireset.sass'
@import 'variables.sass'
@import 'text.sass'
@import 'flex.sass'

body 
  font-size:16px
  font-family: 'Poppins', sans-serif
  font-weight:400
  background-color: $background

header
  position: fixed
  width: 100vw
  padding-top: 1.75rem
  padding-bottom: 1.75rem
  padding-left: 1.5rem
  padding-right: 1.5rem
  border-bottom: $secondary 2px solid

main
  padding-top: 7rem
  padding-left: 4rem
  padding-right: 4rem

.bg
  &-primary
    background-color: $primary
    &-15
      background-color: rgba($primary, 0.15)
    &-30
      background-color: rgba($primary, 0.30)
    &-50
      background-color: rgba($primary, 0.50)
    &-65
      background-color: rgba($primary, 0.65)
    &-80
      background-color: rgba($primary, 0.80)
    &-95
      background-color: rgba($primary, 0.95)
  &-secondary
    background-color: $secondary
    &-15
      background-color: rgba($secondary, 0.15)
    &-30
      background-color: rgba($secondary, 0.30)
    &-50
      background-color: rgba($secondary, 0.50)
    &-65
      background-color: rgba($secondary, 0.65)
    &-80
      background-color: rgba($secondary, 0.80)
    &-95
      background-color: rgba($secondary, 0.95)
  &-white
    background-color: $background
.h
  &-20
    height: 20rem
  &-22
    height: 22rem
.w
  &-full
    width: 100%
  &-auto
    width: auto

.btn
  cursor: pointer
  padding-top: 0.70rem
  padding-bottom: 0.70rem
  padding-left: 1.25rem
  padding-right: 1.25rem
  border-radius: 0.81rem
  display: flex
  justify-content: center
  align-items: center

.m
  &-1
    margin: 0.5rem
  &-2
    margin: 1rem
  &-3
    margin: 1.5rem
  &-4
    margin: 2rem
  &-5
    margin: 2.5rem
  &-t
    &-1
      margin-top: 0.5rem
    &-2
      margin-top: 1rem
    &-3
      margin-top: 1.5rem
    &-4
      margin-top: 2rem
    &-5
      margin-top: 2.5rem
  &-no-x-main
    margin-left: -4rem
    margin-right: -4rem

.p
  &-1
    padding: 0.5rem
  &-2
    padding: 2rem
  &-3
    padding: 1.5rem
  &-10
    padding: 3rem

.absolute
  position: absolute

.relative
  position: relative

.bottom
  &-0
    bottom: 0
.-bottom
  &-1
    bottom: -1vh

.left
  &-0
    left: 0
  &-1
    left: 1vw
  &-2
    left: 2vw
  &-5
    left: 5vw

.right
  &-10
    right: 10vw